<!DOCTYPE html>
<html>
<header>
    <title>CS355 : Lab09</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if (typeof js_includes !== 'undefined') { %>
        <% for(var i=0; i < js_includes.length; i++) { %>
            <script src="<%= js_includes[i] %>"></script>
        <% }%>
    <% }%>
</header>


<style>
    #header {
        background-color:orange;
        color:black;
        text-align:left;
        height:175px;
        font-size:48px;
    }
    #menu {
        background-color:gray;
        height:400px;

        float:left;
        padding:5px;
    }
    #content {
        height:400px;
        float:left;
        padding:10px;
    }

    #footer {
        background-color:orange;
        color:black;
        clear:both;
        text-align:center;
        padding:5px;
    }
</style>



<body>

<div id="header">
    CS 355
</div>