<% include ../partials/header.ejs%>
<div>
    <h1>Users</h1>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>First</th><th>Last</th><th>Actions</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/users/?userID=<%= rs[i].userID %>"> <%= rs[i].firstname %></a></td>
            <td><a href="/users/?userID=<%= rs[i].userID %>"> <%= rs[i].lastname %></a></td>
            <td>
                <a href="/users/delete/?userID=<%= rs[i].userID %>">Delete</a>
                <a href="/users/edit/?userID=<%= rs[i].userID %>">Edit</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No Users exist.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/users/new">Create New Users</a>
</div>
<% include ../partials/footer.ejs%>