
<% if(rs.length > 0) { %>
<%= rs[0].firstname %> <%=rs[0].lastname %>'s ratings
<ul>
    <% for(var i=0; i < rs.length; i++) {%>
    <li><%= rs[i].title %>: <%=rs[i].rating %></li>
    <% } %>
</ul>
<% } else { %>
No user matched user id <%= userID %>.
<% } %>
